:root {
	--ff-heading: "Expletus Sans", sans-serif;
	--ff-text: "Orbitron", sans-serif;

	--fw-heading-500: 500;
	--fw-text-500: 500;
	--fw-text-700: 700;

	--fs-300: 3rem;
	--fs-250: 2rem;
	--fs-200: 1.6rem;

	--color-primary: #58a4b0;
	--color-secondary: #a9bcd0;
	--color-accent: #d8dbe2;
	--color-bg-1: #1b1b1e;
	--color-bg-2: #373f51;
	--color-grey: #333;

	--img-size: 6rem;
	--social-icon: 4rem;
	--logo-icon: 3.5rem;

	--border-sm: 1rem;

	--spacer-sm: 2rem;
	--spacer-md: 3rem;
	--spacer-lg: 4rem;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

.container {
	height: 100vh;
	width: 100vw;
	background-color: var(--color-bg-1);

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	background-color: var(--color-bg-2);
	border-radius: var(--border-sm);
	height: 65%;
	width: 30%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* Header */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacer-sm);
}

.header-img {
	width: var(--img-size);
	height: var(--img-size);
	display: block;
	color: var(--color-secondary);
}

.header-heading {
	font-family: var(--ff-heading);
	font-weight: var(--fw-heading-500);
	font-size: var(--fs-300);
	color: var(--color-primary);
}

/* Content */

.content {
	width: 80%;
	text-align: center;
}

.content-text {
	font-family: var(--ff-text);
	font-weight: var(--fw-text-500);
	font-size: var(--fs-200);
	color: var(--color-accent);
	letter-spacing: 1.5px;
}

.content-text__accent {
	color: var(--color-primary);
}

.content-text:nth-child(even){
	margin-top: var(--spacer-sm);
}

/* Social Icons */

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacer-md);
}

.social-icon {
	width: var(--social-icon);
	height: var(--social-icon);
	display: block;
	cursor: pointer;
	color: var(--color-secondary);
	transform: scale(1);
	transition: all .5s ease-out; 
}

.social-icon:hover {
	color: var(--color-primary);
	transform: scale(1.1);
}

/* Media Queries */

@media screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.wrapper {
		justify-content: center;
		gap: calc(var(--spacer-lg) * 1.25);

		height: 65%;
		width: 40%;
	}
}

@media screen and (max-width: 56.25em) {
	html  {
		font-size: 50%;
	}

	.wrapper {
		justify-content: center;
		gap: calc(var(--spacer-lg) * 1.25);

		height: 55%;
		width: 45%;
	}
}

@media screen and (max-width: 37.5em) {
	.wrapper {
		height: 65%;
	}
}

@media screen and (max-width: 25em){
	html {
		font-size: 43.75%;
	}

	.social {
		gap: var(--spacer-sm);
	}
}